faker>=37.3.0
langchain-core>=0.3.62
langchain-mcp-adapters>=0.1.1
langchain-openai>=0.3.18
langchain-google-genai>=2.1.5
langgraph>=0.4.7
psycopg2-binary>=2.9.10
python-dotenv>=1.1.0
sqlalchemy>=2.0.41
pandas
nest_asyncio
IPython
langgraph-cli[inmem]
ipykernel
gradio
fastapi
uvicorn
websockets
python-multipart